<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>NSCameraUsageDescription</key>
    <string>Sp3ctra uses the camera as a scan-line source (CAMERA module).</string>
    <key>CFBundleExecutable</key>
    <string>Sp3ctra</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.Ondulab.Sp3ctraVST</string>
    <key>CFBundleName</key>
    <string>Sp3ctra</string>
    <key>CFBundleDisplayName</key>
    <string>Sp3ctra</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.18</string>
    <key>CFBundleVersion</key>
    <string>1.2.18</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Ondulab: Sp3ctra</string>
        <key>description</key>
        <string>Sp3ctra</string>
        <key>factoryFunction</key>
        <string>Sp3ctraAUFactory</string>
        <key>manufacturer</key>
        <string>Ondu</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>Sp3c</string>
        <key>version</key>
        <integer>66066</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
